html
  head
    title Lascaux
    link(rel="stylesheet", type="text/css", href="style.css")
    meta(name='viewport' content='width=device-width')
  body
    script(type='text/javascript', src='build.js')